@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .neon-border{
        border-color: transparent;
        background:linear-gradient(93.13deg, #3F65EC 6.03%, #D43FEC 99.41%) border-box; /*3*/
        -webkit-mask: /*4*/
                linear-gradient(#fff 0 0) padding-box,
                linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor; /*5'*/
        mask-composite: exclude; /*5*/
    }
    .neon-border-button{
        background: #D43FEC;
        /*opacity: 0.4;*/
        border-radius: inherit;
    }
    .neon-white-border{
        border-color: transparent;
    }

    .offer-gradient{
        background: linear-gradient(92.38deg, rgba(175, 82, 208, 0.56) 5.95%, rgba(63, 101, 236, 0.5) 97.3%);
    }
    .dao-gradient{
        background: linear-gradient(89.15deg, #AF52D0 -1.74%, #3F65EC 113.64%);
    }
    .offer-purple{
        background: rgba(175, 82, 208, 0.43);
    }
    .text-in-shape{
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .text-in-roadmap-card{
        justify-content: center;
        justify-items: center;
    }
    .menu-bg{
        background: linear-gradient(180deg, #000000 71.98%, rgba(0, 0, 0, 0) 100%);
    }

    .roadmap-card{
        background: rgba(71, 10, 148, 0.26);
    }
    /*.neon-white-border:hover{*/
    /*    border-color: white;*/
    /*}*/
    .calculator-result{
        background: rgba(108, 20, 251, 0.14);;
    }
    .stacker-active-token{
        background: rgba(175, 82, 208, 0.44);
    }
    .stacker-unactive-token{
        background: rgba(175, 82, 208, 0.22);
    }
    .stake-tab-active-border{
        border-image-source: linear-gradient(93.13deg, #3F65EC 6.03%, #D43FEC 99.41%);
    }
    .stacker-radio{
        background: rgba(196, 196, 196, 0.25);
    }
    .stacker-tabs-round{
        border-top-right-radius: 1vw;
        border-bottom-right-radius: 0vw;
    }
    .account-tab-active{
        background: linear-gradient(269.78deg, rgba(212, 63, 236, 0.34) 0.19%, rgba(63, 101, 236, 0.34) 100.97%);
        backdrop-filter: blur(7.34575px);
        /*border:2px solid white;*/
    }
    .dashboard-shape{
        background: rgba(159, 102, 252, 0.26);
    }
    .account-shape{
        background: rgba(204, 102, 252, 0.1);
    }
}

@font-face {
    font-family: "Gilroy";
    src: url("../public/fonts/Gilroy/Gilroy-Thin.ttf");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy";
    src: url("../public/fonts/Gilroy/Gilroy-UltraLight.ttf");
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy";
    src: url("../public/fonts/Gilroy/Gilroy-Light.ttf");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy";
    src: url("../public/fonts/Gilroy/Gilroy-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy";
    src: url("../public/fonts/Gilroy/Gilroy-Medium.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy";
    src: url("../public/fonts/Gilroy/Gilroy-Semibold.ttf");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy";
    src: url("../public/fonts/Gilroy/Gilroy-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy";
    src: url("../public/fonts/Gilroy/Gilroy-Extrabold.ttf");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy";
    src: url("../public/fonts/Gilroy/Gilroy-Black.ttf");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy";
    src: url("../public/fonts/Gilroy/Gilroy-Heavy.ttf");
    font-style: normal;
    font-weight: 1000;
    font-display: swap;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background: transparent;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: linear-gradient(90.01deg, #AF52D0 0%, #3F75EC 98.89%);
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 2vw;
    width: 2vw;
    border-radius: 9999px;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.5vw;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: linear-gradient(90.01deg, #AF52D0 0%, #3F75EC 98.89%);;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: linear-gradient(90.01deg, #AF52D0 0%, #3F75EC 98.89%);
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #fff;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #fff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #fff;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: linear-gradient(90.01deg, #AF52D0 0%, #3F75EC 98.89%);
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 3vw;
    width: 3vw;
    border-radius: 9999px;
    background: #fff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #fff;
}
input[type=range]:focus::-ms-fill-upper {
    background: #fff;
}